<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--引入外部的properties文件-->
    <context:property-placeholder location="jdbc.properties"/>

    <bean id="ds" class="com.zw.spring6.jdbc.MyDataSource1">
        <property name="properties">
            <props>
                <prop key="driver">${driverClass}</prop>
                <prop key="url">${url}</prop>
                <prop key="username">${username}</prop>
                <prop key="password">${password}</prop>
            </props>
        </property>
    </bean>
</beans>