<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="vip1" class="com.zw.spring6.bean.Vip">
        <property name="email">
            <null/>
        </property>
    </bean>

    <bean id="vip2" class="com.zw.spring6.bean.Vip">
        <!--<property name="email" value=""/>-->
        <property name="email">
            <value><![CDATA[2 < 3]]></value>
        </property>
    </bean>
</beans>