<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="student" class="com.zw.spring6.bean.Student">
        <property name="name" value="张三"/>
        <property name="clazz" ref="clazz"/>
    </bean>

    <bean id="clazz" class="com.zw.spring6.bean.Clazz">
        <property name="cname" value="高三八班"/>
    </bean>

    <bean id="student1" class="com.zw.spring6.bean.Student">
        <property name="name" value="李四"/>
        <property name="clazz" ref="clazz1"/>
        <property name="clazz.cname" value="高三一班"/>
    </bean>

    <bean id="clazz1" class="com.zw.spring6.bean.Clazz"/>
</beans>